/* Start Variables */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-section-padding: 100px;
    --main-section-background: #ececec;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Components */
.main-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto 80px;
    width: fit-content;
    border: 2px solid;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
}

.main-title:hover {
    color: white;
    border-color: black;
    transition-delay: .5s;
}

.main-title:hover::before {
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    animation: right-move 0.5s linear forwards;
}

.main-title::before,
.main-title::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-transition);
    z-index: -1;
}

.main-title::before {
    left: -30px;
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}

.main-title::after {
    right: -30px;
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px
    }
    100% {
        right: 0;
        width: 50%;
        border-radius: 0;
        height: 100%;
    }
}

.spikes {
    position: relative;
}

.spikes::after {
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 30px;
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
}

.dots {
    background-image: url(../images/dots.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 204px;
    height: 186px;
}

.dots-up {
    top: 200px;
    right: 0;
}

.dots-down {
    bottom: 200px;
    left: 0;
}
/* End Components */

/* Start Header */
.header {
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    color: var(--main-color);
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px
}

@media (max-width: 768px) {
    .header .logo {
        width: 100%;
        height: 50px;
        font-size: 25px;
    }
}

.header .main-nav {
    display: flex;
}

@media (max-width: 768px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav li:hover .mega-menu {
    opacity: 1;
    top: calc(100% - 1px);
    z-index: 100;
}

.header .main-nav > li > a {
    color: black;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
}

@media (max-width: 768px) {
    .header .main-nav > li > a {
        height: 40px;
        font-size: 14px;
        padding: 10px;
    }
}

.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
} 

.header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .main-nav > li > a:hover::before {
    left: 0;
}

.header .mega-menu {
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    width: 100%;
    background-color: white;
    z-index: -1;
    opacity: 0;
    padding: 30px;
    display: flex;
    gap: 40px;
    border-bottom: 3px solid var(--main-color);
    transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 768px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

.header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .header .mega-menu .image {
        display: none;
    }
}

.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

.header .mega-menu .links li {
    position: relative;
}

.header .mega-menu .links li:not(:last-of-type) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 768px) {
    .header .mega-menu .links:first-of-type li:last-of-type {
        border-bottom: 1px solid #e9e6e6;
    }
}
.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    background-color: #fafafa;
    height: 100%;
    z-index: -1;
    transition: var(--main-transition);
}

.header .mega-menu .links li:hover::before {
    width: 100%;
}

.header .mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .header .mega-menu .links li a {
        padding: 15px;
        font-size: 16px;
    }
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}
/* End Header */

/* Start Landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}

.landing .go-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    color: var(--main-color);
    transition: var(--main-transition);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}

@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40%, 60% {
        transform: translateY(-15px);
    }
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 40px;
    letter-spacing: -3px;
    margin: 0;
}

@media (min-width: 768px) {
    .landing .text h1 {
        font-size: 30px;
    }
}

.landing .text p {
    color: #666;
    line-height: 1.7;
    margin: 5px 0 0;
    max-width: 500px;
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

@media (max-width: 768px) {
    .landing .text p {
        font-size: 18px;
    }
}

.landing .image img {
    width: 600px;
    max-width: 100%;
    position: relative;
    animation: 5s linear infinite up-to-down;
}

@keyframes up-to-down {
    0%, 100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}
/* End Landing */
/* Start Articles */
.articles {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px
}

.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .box img {
    width: 100%;
    max-width: 100%;
} 

.articles .box .content {
    padding: 20px
}

.articles .box .content h3 {
    margin: 0;
}

.articles .box .content p {
    margin: 10px 0 0 0;
    line-height: 1.5;
    color: #777;
}

.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
}

.articles .box .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .box .info i {
    color: var(--main-color);
}
/* End Articles */
/* Start Gallery */
.gallery {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    position: relative;
    background-color: var(--main-section-background);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}

.gallery .box {
    padding: 11px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.25);
    transition: var(--main-transition);
}

.gallery .box .image:hover::before {
    animation: flashing 0.7s;
}

@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.gallery .box .image:hover:before {
    width: 200%;
    height: 200%;
}

.gallery .box .image img {
    max-width: 100%;
    overflow: hidden;
    transition: var(--main-transition);
}

.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}
/* Start Gallery */
/* Start Features */
.features {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    position: relative;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.features .container .box {
    overflow: hidden;
    text-align: center;
    border: 1px solid #ccc;
}

.features .container .box .image-holder {
    position: relative;
}

.features .container .box .image-holder::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features .container .box:hover .image-holder::after {
    border-width: 170px 500px 170px 0;
}


.features .container .box .image-holder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.features .quality .image-holder::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .time .image-holder::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .passing .image-holder::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .container .box .image-holder img {
    max-width: 100%;
}

.features .container .box h2 {
    position: relative;
    margin: auto;
    font-size: 40px;
    width: fit-content;
}

.features .container .box h2::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    width: calc(100% - 30px);
    height: 5px;
}

.features .quality h2::before {
    background-color: #f44036;
}

.features .time h2::before {
    background-color: #009688;
}

.features .passing h2::before {
    background-color: #03a9f4;
}

.features .container .box p {
    line-height: 2;
    color: #777;
    margin-top: 30px 0;
    text-align: center;
    font-size: 20px;
    padding: 25px;
}

.features .container .box a {
    display: block;
    width: fit-content;
    margin: 0 auto 30px;
    border: 3px solid;
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 22px;
    font-weight: 700;
    transition: var(--main-transition);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .quality a {
    background: linear-gradient(to right, #f44036 50%, white 50%);
}

.features .time a {
    background: linear-gradient(to right, #009688 50%, white 50%);
}

.features .passing a {
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
}

.features .box:hover a {
    background-position: left bottom;
    color: white;
}

.features .container .quality:hover a {
    background-position: left bottom;
    background-color: (to right, #f44036 50%, white 50%);
}

.features .container .time:hover a {
    background-position: left bottom;
    background-color: t(to right, #009688 50%, white 50%);
}

.features .container .passing:hover a {
    background-position: left bottom;
    background-color: (to right, #03a9f4 50%, white 50%);
}


.features .quality a {
    color: #f44036;
    border-color: #f44036;
} 

.features .time a {
    color: #009688;
    border-color: #009688;
}

.features .passing a {
    color: #03a9f4;
    border-color: #03a9f4;
}
/* End Features */
/* Start Testimonials */
.testimonials {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-color: var(--main-section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px 20px;
}

.testimonials .box {
    background-color: white;
    padding: 20px;
    position: relative;
}

.testimonials .box img {
    max-width: 100%;
    width: 24%;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: -5px;
    border: 8px solid var(--main-section-background);
}

.testimonials .box h3 {
    margin: 0;
}

.testimonials .box .title {
    color: #777;
    margin: 14px 0;
    font-size: 14px;
    display: block;
}

.testimonials .box .rate .filled{
    color: #ffc107;
}

.testimonials .box p {
    color: #777;
    line-height: 1.6;
    font-size: 15px;
}
/* End Testimonials */
/* Start Team */
.team {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-color: white;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 35px;
}

.team .box {
    position: relative;
    z-index: 0;
}

.team .box::before,
.team .box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #f3f3f3;  
    border-radius: 10px;
    transition: var(--main-transition);
}

.team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}

.team .box::after {
    width: 0px;
    background-color: #e4e4e4;
    z-index: -1;
}

.team .box:hover::after {
    width: calc(100% - 60px);
}

.team .box .data {
    display: flex;
    padding-top: 60px;
    position: relative;
}

.team .box .data img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}

.team .box:hover img {
    filter: grayscale(100%);
}
.team .box .data .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    justify-content: center;
    gap: 20px;
}

.team .box .data .social a {
    color: #777;
    padding: 15px;
}

.team .box .data .social a:hover {
    color: var(--main-color);
}

.team .box .info {
    padding-left: 80px;
    position: relative;
}

.team .box .info h3 {
    color: var(--main-color);
    margin-bottom: 0;
}

.team .box:hover h3 {
    color: #777;
}
.team .box .info p {
    color: #777;
    margin-top: 3px;
    font-size: 14px;
}
/* End Team */
/* Start Services */
.services {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-color: var(--main-section-background);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .box {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: var(--main-transition);
    counter-increment: services;
}

.services .box::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.services .box:hover {
    transform: translateY(-10px);
}

.services .box:hover:before {
    width: 100%;
}

.services .box i {
    color: #d5d5d5;
    margin: 40px 0 20px;
}

.services .box h3 {
    color: var(--main-color);
    font-size: 25px;
}

.services .box .info {
    padding: 15px;
    background-color: #f9f9f9;
    width: 100%;
    text-align: right;
    position: relative;
    
}

.services .box .info a {
    color: var(--main-color);
}

.services .box .info::before {
    content: counter(services);
    background-color: var(--main-color);
    color: white;
    position: absolute;
    width: 80px;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    padding-right: 15px;
}

.services .box .info::after {
    content: "";
    display: block;
    width: 50px;
    height: 100%;
    background-color: #d5d5d5;
    position: absolute;
    top: 0;
    left: 80px;
    transform: skewX(-30deg);
}
/* End Services */
/* Start Skills */
.our-skills {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
}

.our-skills .container {
    display: flex;
    align-items: center;
}

.our-skills .image img {
    max-width: 100%;
}

@media (max-width: 992px) {
    .our-skills .image img{
        display: none;
    }
}
 
.our-skills .skills {
    flex: 1;
}

.our-skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .skill h3 span {
    font-size: 13px;
    color: var(--main-color);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 5px;
}

.our-skills .skill .progress {
    height: 30px;
    background-color: #eee;
    width: 100%;
}

.our-skills .skill .progress span {
    height: 100%;
    display: block;
    background-color: var(--main-color);
}
/* End Skills */
/* Start Work Steps */
.work-steps {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-color: var(--main-section-background);
}

.work-steps .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 992px) {
    .work-steps .container {
        flex-direction: column;
    }
}

.work-steps .image {
    max-width: 100%;
    margin-right: 100px;
}

@media (max-width: 992px) {
    .work-steps .image {
        margin: 0 0 100px 0;
    }
}

.work-steps .info .box {
    display: flex;
    align-items: center;
    background-color: #f6f5f5;
    border-radius: 6px;
    border: 2px solid white;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .work-steps .info .box {
        flex-direction: column;
        text-align: center;
    }
}

.work-steps .info .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #ededed;
    z-index: -1;
    transition: var(--main-transition);
}

.work-steps .info .box:hover::before {
    height: 100%;
    width: 100%;
}

.work-steps .info .box img {
    max-width: 100%;
    width: 64px;
    margin-right: 30px;
}

@media (max-width: 768px) {
    .work-steps .info .box img {
        margin: 0 0 20px 0;
    }
}
 
.work-steps .info .box h3 {
    margin: 0;
    font-size: 22px;
}

.work-steps .info .box p {
    line-height: 1.7;
    color: #777;
    margin: 10px 0 0 0;
    font-size: 18px;
}
/* End Work Steps */
/* Start Events */
.events {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
}

.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events .image {
    max-width: 450px;
}

@media (max-width: 992px) {
    .events .image {
        display: none;
    }
}
.events .info {
    flex: 1;
    max-width: 100%;
}

.events .info .time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.events .info .time .unit {
    width: 75px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    text-align: center;
    transition: var(--main-transition);
}

.events .info .time .unit span {
    display: block;
}

.events .info .time .unit span:first-child {
    color: var(--main-color);
    font-size: 35px;
    padding: 15px;
}

.events .info .time .unit span:last-child {
    padding: 7px 0;
    border-top: 1px solid #d4d4d4;
    transition: var(--main-transition);
}

.events .info .time .unit:hover,
.events .info .time .unit:hover span:last-child {
    border-color: var(--main-color);
}

.events .info .title {
    text-align: center;
    margin-top: 50px
}

.events .info .title h2 {
    margin: 0;
    font-size: 30px;
}

.events .info .title p {
    font-size: 18px;
    color: #777;
    line-height: 1.7;
}

.events .subscribe {
    background-color: #f6f5f5;
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    border-radius: 50px;
    margin-top: 60px;
}


@media (max-width: 768px) {
    .events .subscribe {
        width: 100%;
        border-radius: 0;
    }
}

.events .subscribe form {
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    .events .subscribe form {
        flex-direction: column;
    }
}

.events .subscribe form input[type=email] {
    flex: 1;
    padding: 20px;
    border: none;
    caret-color: var(--main-color);
    border-radius: 50px;
}

@media (max-width: 768px) {
    .events .subscribe form input[type=email] {
        border-radius: 0;
    }
}

.events .subscribe form input[type=email]:focus {
    outline: none;
    transition: var(--main-transition);
}

.events .subscribe form input[type=email]::placeholder {
    transition: var(--main-transition);
}

.events .subscribe form input[type=email]:focus::placeholder {
    opacity: 0;
}

.events .subscribe form input[type=submit] {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 20px;
    font-weight:bold
}

@media (max-width: 768px) {
    .events .subscribe form input[type=submit] {
        border-radius: 0;
    }
}

/* End Events */
/* Start Pricing */
.pricing {
    position: relative;
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    background-color: var(--main-section-background);
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    text-align: center;
    position: relative;
    z-index: 1;
}

.pricing .box::before,
.pricing .box::after {
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    z-index: -1;
    transition: var(--main-transition);
}

.pricing .box::before {
    top: 0;
    right: 0;
}

.pricing .box::after {
    bottom: 0;
    left: 0;
}

.pricing .box:hover::after,
.pricing .box:hover::before {
    width: 100%;
}

@media (min-width: 1200px) {
    .pricing .popular {
        top: -20px;
    }
}

.pricing .box .label {
    position: absolute;
    writing-mode: vertical-lr;
    background-color: var(--main-color);
    color: white;
    padding: 10px 10px 45px 10px;
    font-size: 18px;
    right: 15px;
}

.pricing .box .label::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 21px;
    border-color: transparent transparent white transparent;
}

.pricing .box h2 {
    font-size: 25px;
    margin: 30px 0;
    letter-spacing: -1px;
}

.pricing .box img {
    width: 80px;
    max-width: 100%;
    margin-bottom: 30px;
}

.pricing .box .price .amount {
    font-size: 60px;
    font-weight: 700;
    color: var(--main-color);
    display: block;
    margin-bottom: 5px;
}

.pricing .box .price .time {
    color: #777;
}

.pricing .box ul {
    margin: 20px 0;
    text-align: left;
}

.pricing .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing .box ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--main-color);
    margin-right: 10px;
}

.pricing .box a {
    border: 3px solid var(--main-color);
    border-radius: 10px;
    color: var(--main-color);
    display: block;
    width: fit-content;
    padding: 15px 20px;
    margin: 20px auto;
    transition: var(--main-transition);
}

.pricing .box:hover a {
    background-color: var(--main-color);
    color: white;
}
/* End Pricing */
/* Start Videos */
.video {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
}

.video .holder {
    display: flex;
    justify-content: center;
    background-color: var(--main-section-background);
    border: 1px solid #ddd;
}

@media (max-width: 991px) {
    .video .holder {
        flex-direction: column;
    }
}

.video .list {
    min-width: 300px;
    background-color: white;
}

.video .list .name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
}

.video .list .name span {
    font-weight: 700;
}

.video .list ul li {
    padding: 20px;
    border-top: 1px solid #eee;
    transition: var(--main-transition);
}

.video .list ul li:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.video .list ul li span {
    display: block;
    color: #777;
    margin-top: 10px;
}

.video .preview {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video .preview img {
    max-width: 100%;
}

.video .preview .info {
    padding: 20px;
    background-color: white;
}
/* End Videos */
/* Start Statistics */
.statistics {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
    position: relative;
    background-image: url("../images/stats.jpg");
    background-size: cover;
    z-index: 1;
}

.statistics .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.statistics::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255 255 255 / 95%);
    z-index: -1;
}

.statistics .title {
    width: fit-content;
    margin: 0 auto 50px;
    font-size: 40px;
    font-weight: bold;

}

@media (max-width: 768px) {
    .statistics .title {
        font-size: 25px;
    }
}

.statistics .box {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    opacity: 0.8;
    transition: var(--main-transition);
    position: relative;
}

.statistics .box::after, 
.statistics .box::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.statistics .box::before {
    right: 0;
    top: 0;
}

.statistics .box::after {
    left: 0;
    bottom: 0;
}

.statistics .box:hover {
    opacity: 1;
}

.statistics .box:hover::before,
.statistics .box:hover::after {
    width: 3px;
    height: 100%;
}


.statistics .box .number {
    font-size: 50px;
    font-weight: 700;
    margin: 10px 0;
}

.statistics .box .text {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
    font-style: italic;
}
/* End Statistics */
/* Start Discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount .content {
    text-align: center;
    padding: 0 20px;
}

.discount .content h2 {
    padding: 20px 0;
    letter-spacing: -4px;
    font-size: 40px;
}

.discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

.discount .image img {
    width: 300px;
    max-width: 100%;
}

.discount .image {
    background-image: url(../images/discount-background1.jpg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s infinite linear;
}

@keyframes change-background {
    0%, 100% {
        background-image: url(../images/discount-background1.jpg);
    }
    50% {
        background-image: url(../images/discount-background2.jpg);
    }
}

@media (max-width: 991px) {
    .discount .image {
        flex-basis: 100%;
    }
}

.discount .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}

.discount .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

@media (max-width: 991px) {
    .discount .form {
        flex-basis: 100%;
    }
}

.discount form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.discount form .input {
    padding: 13px;
    background-color: #f9f9f9;
    outline: none;
    border: none;
    border-bottom: 2px solid #ccc;
    caret-color: var(--main-color);
}

.discount form .input:focus {
    outline: none;
}

.discount form textarea {
    height: 200px;
    resize: none;
}

.discount form input[type=submit] {
    color: white;
    background-color: var(--main-color);
    border-color: white;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 28px;
    font-weight: bold;
    cursor: pointer;
}

.discount form input[type=submit] {
    background-color: var(--main-color-alt);
}
/* End Discount */
/* Start Footer */
.footer {
    padding-top: 70px;
    background-color: #191919;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.footer h2 {
    color: white;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

.footer .social {
    display: flex;
    gap: 20px;
}

.footer .social a {
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b9b9b9;
    font-size: 21px;
    width: 50px;
    height: 50px;
    transition: var(--main-transition);
}

.footer .social a.facebook:hover {
    background-color: #1877f2;
} 
.footer .social a.twitter:hover {
    background-color: #1da1f2;
}

.footer .social a.youtube:hover {
    background-color: #ff0000;
}

.footer .text {
    color: #b9b9b9;
    line-height: 2;
}

.footer .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}

.footer .links li:hover {
    margin-left: 10px;
}

.footer .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}

.footer .links li:hover a { 
    color: white;
}

.footer .links li a:before {
    content: "\F101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

.footer .line {
    color: #b9b9b9;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.footer .line i {
    color: var(--main-color);
    font-size: 25px;
}

.footer .line .info {
    line-height: 1.7;
    flex: 1;
}

.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
}

@media (max-width: 768px) {
    .footer .footer-gallery {
        text-align: center;
    }
}

.footer .copyright {
    padding: 30px 0;
    color: white;
    margin-top: 50px;
    margin-bottom: 0;
    border-top: 1px solid #444;
    text-align: center;
}
/* End Footer */